.gestion-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: #d0d7de; /* Gris claro */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.logo:hover, #nombre:hover {
    cursor: pointer;
}